option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    FLASK_ENV: "production"
    PORT: "5000"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/check-auth
    Port: 5000
    Protocol: HTTP

packages:
  yum:
    python3-devel: []
    gcc: []

container_commands:
  01_pip_upgrade:
    command: "pip install --upgrade pip"
  02_install_requirements:
    command: "pip install -r requirements.txt"
  03_make_executable:
    command: "chmod +x application.py"